<h1>Branch History</h1>

<div class="sub_nav">
  <a href="/repo/branches" class="nav_link"><%= repo.current_branch %> branch</a><br />
  <span class="sub_nav details"><%= @history.size %> commits</span>
</div>

<div class="content">
  <br />
  <ul>
  <% @history.each do |commit| %>
    <li>
      <% if commit != @history.first %>
        <a href="/repo/revert_branch/<%= commit.sha %>" title="Click to revert to this revision." onclick="return confirm('Are you sure you want to revert to this revision?');">
         <%= commit.date.time_ago_in_words %>
        </a>
      <% else %>
        <%= commit.date.time_ago_in_words %>
      <% end %>
      &mdash;
      <%= commit.message %>
    </li>
  <% end %>
  </ul>
</div>

