<script type="text/javascript">

function confirm_revert(sha) {
  if ( confirm('Are you sure you want to revert to this revision?') ) {
    parent.location='/repo/revert_branch/' + sha
  }
}

</script>

<div class="row-fluid">
  <div class="span10">
    <article>
      <h1>Branch History</h1>

      <a href="/repo/branches" class="nav_link"><%= repo.current_branch %> branch</a><br />
      <%= @history.size %> commits<br />

      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Actions</th>
            <th>When</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        <% @history.each do |commit| %>
          <tr>
            <td>
              <button class="btn btn-mini btn-primary disabled">diff</button>
            <% if commit != @history.first %>
              <button class="btn btn-mini btn-danger" onclick="confirm_revert('<%= commit.sha %>')">revert</button>
            <% end %>
            </td>
            <td><%= commit.date.time_ago_in_words %></td>
            <td><%= commit.message %></td>
          <tr>
        <% end %>
        <tbody>
      </table>

    </article> 
  </div>
  <div class="span2">
    <div class="well sidebar">
     <aside>
       <%= repo.current_branch %> branch
     <aside>
    </div><!--/.well -->
  </div><!--/span-->
</div><!--/row-->


