<% content_for :head do %>
  <script src="/sh_main.min.js"></script>
  <script src="/sh_diff.min.js"></script>
  <link rel="stylesheet" href="/sh_style.css" type="text/css" media="screen" />
<% end %>

<h1>Diff of <a href="/<%= @page.name %>"><%= @page.name %></a></h1>

<nav class="sub_nav">
  <a href="/page/patch/<%= @page.name %>/<%= @rev %>" class="nav_link">patch file</a> &bull;
  <a href="/page/history/<%= @page.name %>" class="nav_link">history</a> &bull;
  <a href="/page/edit/<%= @page.name %>" class="nav_link">edit</a>
</nav>

<section class="content">
  <pre class="sh_diff"><%= @page.delta %></pre>
</section>

<script>
  sh_highlightDocument();
</script>
