<article>

  <nav role="article">
    <a href="/page/show/<%= @page.name %>" class="nav_link">current</a> &bull;
    <a href="/page/edit/<%= @page.name %>" class="nav_link">edit</a>
  </nav>

  <h1>History of <a href="/<%= @page.name %>"><%= @page.name %></a></h1>

  <ul>
  <% @page.history.each do |c| %>
    <li>
      <img src="http://gravatar.com/avatar/<%= Digest::MD5.hexdigest(c.author.email.downcase) %>?s=12&d=identicon"/>
      <%= c.committer_date.time_ago_in_words %>
      &mdash;
      <a href="/h/<%= @page.name %>/<%= c.sha %>"><%= c.message %></a>
      <% unless @page.history.first == c %>
        &bull; <a href="/d/<%= @page.name %>/<%= c.sha %>">diff</a>
      <% end %>
    </li>
  <% end %>
  </ul>
</article>
